header {
	background-color: #26d0c9;
	height: 60px;
	font-size: 36px;
	padding: 20px 40px;
}

.main {
	background-color: #EEE;
	font-size: 20px;
}

footer {
	background-color: #99AAB5;
	font-size: 20px;
	height: 60px;
	padding: 10px 0px;
}

.link-str {
	float: left;
	padding: 20px 18px
}


.links li{
	float: left;
	list-style: none;
	font-size: 18px;
	padding: 0px 18px;
}